<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/pharmacy.svg">
 <link href="../static/pharmacy.svg" rel="icon">

  <title>Kontakt</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet">
<link rel="stylesheet" href="../static/cssreset-meyers.css">
<link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">


<link rel="stylesheet" href="../static/Style.css">
<link rel="stylesheet" href="../static/moj.css">


</head>

<div class="pozadina3">
  <div class="container-header">
      <div class="logo">
          <a href="index.html"><div><span class="naglaseno">PIFPro</span> | Home</div></a>
      </div>
      
  </div>
</div>


 <!-- Add your content of header -->
<header>
 


</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-md-12">
               <form action="submit_form" method="post" class="reveal-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Naslov">
                      </div>
                      <div class="form-group">
                        <textarea name="message" class="form-control" rows="5" placeholder="Unesite poruku"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>

                    


                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>

                    <!-- ovde pocinje deo sa podacima -->

<div class="adresa">
  <ul class="lista">
    <li>
      <span class="fa-icon">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </span>
      + 381.60.5.215.410
    </li>
    <li>
      <span class="fa-icon">
        <i class="fa fa-at" aria-hidden="true"></i>
      </span>
      nesafarm@gmail.com
    </li>
    <li>
      <span class="fa-icon">
        <i class="fa fa fa-map-marker" aria-hidden="true"></i>
      </span>
      Masarikov Trg 3 16000 Leskovac Serbia
    </li>
  </ul>
    <!-- <h3>Nađite nas na socijalnim mrežama</h3>
    <a href="http://www.facebook.com" title="" class="fa-icon">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://www.twitter.com" title="" class="fa-icon">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.linkedin.com" title="" class="fa-icon">
      <i class="fa fa-linkedin"></i>
    </a> -->
</div>
                    <!-- zavrsen deo sa podacima -->

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.1164279768877!2d21.946881516233127!3d42.99688290263746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47559d4d616b7199%3A0xe786ba4d1fc8e196!2sMasarikov%20Trg%203%2C%20Leskovac!5e0!3m2!1sen!2srs!4v1588108407633!5m2!1sen!2srs" width="100%" height="450" frameborder="0" style="border:1px 0px solid black;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


<footer>
  <div class="kontejner-footer">
      <div class="futer">
          <div class="dole">
              © PIFPro,
              <script>document.write(new Date().getFullYear())</script>
          </div>
      </div>
  </div>
</footer>



<!-- <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script src="../static/skripta.js" type="text/javascript"></script> -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script>


</html>