<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EN-CE Design</title>
    <link rel="shortcut icon" href="../static/pharmacy.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/cssreset-meyers.css">    
    <link rel="stylesheet" href="../static/Lightbox/css/lc_lightbox.css">
    <link rel="stylesheet" href="../static/Lightbox/skins/dark.css">
    <link rel="stylesheet" href="../static/Style.css">
</head>
<body>  
    <header>
        <div class="header"></div>
        <!-- navbar -->
        <div class="pozadina2">
            <div class="container-header">
                <div class="logo">
                    <a href="index.html"><div><span class="naglaseno">NEBOJSA CEKIC</span>  |  DESIGN</div></a>
                </div>
                <nav>
                    <a href="Micro.html" class="navButton hvr-sweep-to-top">001</a>
                    <a href="Pro.html" class="navButton hvr-sweep-to-top">002</a>
                    <a href="Crane.html" class="navButton hvr-sweep-to-top">003</a>
                    <a href="Promega.html" class="navButton hvr-sweep-to-top">004</a>
                    <a href="Modular.html" class="navButton hvr-sweep-to-top">005</a>
                    <a href="Terminals.html" class="navButton hvr-sweep-to-top">006</a>
                    <a href="Amazon.html" class="navButton hvr-sweep-to-top current">007</a>
                    <a href="Animations.html" class="navButton hvr-sweep-to-top">008</a>
                    <a href="contact.html" class="navButton hvr-sweep-to-top">CONTACT</a>
                </nav>
                
                <div class="altmeni">
                    <img src="../static/assets/images/menu-alt.svg" alt="" style="width: 40px;" class="burgermenu">
                    <div class="mob-nav">
                        <a href="Micro.html" class="altButton">001</a>
                        <a href="Pro.html" class="altButton">002</a>
                        <a href="Crane.html" class="altButton">003</a>
                        <a href="Promega.html" class="altButton">004</a>
                        <a href="Modular.html" class="altButton">005</a>
                        <a href="Terminals.html" class="altButton">006</a>
                        <a href="Amazon.html" class="altButton current">007</a>
                        <a href="Animations.html" class="altButton">008</a>
                        <a href="contact.html" class="altButton">CONTACT</a>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
    <!-- slike -->
    <div class="col">    
        <a  class="elem"
            href="../static/assets/images/razno/Necklace_techinique_2.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Necklace_techinique_2.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Necklace&Box_v1_2_Post.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Necklace&Box_v1_2_Post.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Bracelet_v1_4_Post.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Bracelet_v1_4_Post.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Bracelet_v2_Post.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Bracelet_v2_Post.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Earrings&Box_Black.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Earrings&Box_Black.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Belts_L&XL_HQ.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Belts_L&XL_HQ.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/TwoBelts_folded_HQ.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/TwoBelts_folded_HQ.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/crveni_labial_LOCO.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/crveni_labial_LOCO.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Crystal_stik.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Crystal_stik.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Jasmin_stik_2.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Jasmin_stik_2.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/PharmaSnake.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/PharmaSnake.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Metal&Box_01_4.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Metal&Box_01_4.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Metal_InUse_1.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Metal_InUse_1.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Shingle_Box_02_3.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Shingle_Box_02_3.jpg" alt="" class="response"></span>
        </a>
        <a  class="elem"
            href="../static/assets/images/razno/Shingle_InUse_2.jpg"
            title="© Nebojsa Cekic" 
            data-lcl-txt=""
            data-lcl-author=""
            data-lcl-thumb="">
            <span style="background-image: url();">
            <img src="../static/assets/images/razno/Shingle_InUse_2.jpg" alt="" class="response"></span>
        </a>
    
    
    </div>
    <!-- kraj slika -->

    <!-- Ovde pocinje Footer -->
    <footer>
        <div class="container-footer">
            <div class="futer">
                <div class="dole">
                    © NEBOJSA CEKIC,
                    <script>document.write(new Date().getFullYear())</script>
                </div>
            </div>
        </div>
    </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <script src="../static/Lightbox/js/lc_lightbox.lite.js"></script>

        <script src="../static/Lightbox/lib/AlloyFinger/alloy_finger.min.js"></script>

        <script src="../static/skripta.js" type="text/javascript"></script>

</body>
</html>