<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EN-CE Design</title>
    <link rel="shortcut icon" href="../static/pharmacy.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/cssreset-meyers.css">    
    <link rel="stylesheet" href="../static/Lightbox/css/lc_lightbox.css">
    <link rel="stylesheet" href="../static/Lightbox/skins/dark.css">
    <link rel="stylesheet" href="../static/Anime.css">
</head>
<body>  
    <header>
        <div class="header"></div>
        <!-- navbar -->
        <div class="pozadina2">
            <div class="container-header">
                <div class="logo">
                    <a href="index.html"><div><span class="naglaseno">NEBOJSA CEKIC</span>  |  DESIGN</div></a>
                </div>
                <nav>
                    <a href="Micro.html" class="navButton hvr-sweep-to-top">001</a>
                    <a href="Pro.html" class="navButton hvr-sweep-to-top">002</a>
                    <a href="Crane.html" class="navButton hvr-sweep-to-top">003</a>
                    <a href="Promega.html" class="navButton hvr-sweep-to-top">004</a>
                    <a href="Modular.html" class="navButton hvr-sweep-to-top">005</a>
                    <a href="Terminals.html" class="navButton hvr-sweep-to-top">006</a>
                    <a href="Amazon.html" class="navButton hvr-sweep-to-top">007</a>
                    <a href="Animations.html" class="navButton hvr-sweep-to-top current">008</a>
                    <a href="contact.html" class="navButton hvr-sweep-to-top">CONTACT</a>
                </nav>
                
                <div class="altmeni">
                    <img src="../static/assets/images/menu-alt.svg" alt="" style="width: 40px;" class="burgermenu">
                    <div class="mob-nav">
                        <a href="Micro.html" class="altButton">001</a>
                        <a href="Pro.html" class="altButton">002</a>
                        <a href="Crane.html" class="altButton">003</a>
                        <a href="Promega.html" class="altButton">004</a>
                        <a href="Modular.html" class="altButton">005</a>
                        <a href="Terminals.html" class="altButton">006</a>
                        <a href="Amazon.html" class="altButton">007</a>
                        <a href="Animations.html" class="altButton current">008</a>
                        <a href="contact.html" class="altButton">CONTACT</a>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
    <!-- video -->
    <div class="col"> 
    
        <iframe src="https://player.vimeo.com/video/293335161" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293298564" width="640" height="427" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        
        <iframe src="https://player.vimeo.com/video/293317699" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293303152" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293297916" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293320729" width="640" height="640" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/UGZXhmEytWg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6k_SSb-_0Sk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/DHy3eMLCS0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293308823" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/MojOUwRU73o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/bU0KSTg6e_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293310919" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/293312285" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/55718597" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/66580924" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/48309550" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <iframe src="https://player.vimeo.com/video/56164191" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>            
    
    </div>
    <!-- kraj video -->

    <!-- Ovde pocinje Footer -->
    <footer>
        <div class="container-footer">
            <div class="futer">
                <div class="dole">
                    © NEBOJSA CEKIC,
                    <script>document.write(new Date().getFullYear())</script>
                </div>
            </div>
        </div>
    </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <script src="../static/Lightbox/js/lc_lightbox.lite.js"></script>

        <script src="../static/Lightbox/lib/AlloyFinger/alloy_finger.min.js"></script>

        <script src="../static/skripta.js" type="text/javascript"></script>

</body>
</html>