/* Global Desktop View ********************/

body {
    background-color: #EBEBEB;
    font-family: 'Asap', sans-serif;
    color:black;
    box-sizing: border-box;
}


.container {
    /* min-height: 500px; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.pozadina2{
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    /* min-height: 90px; */
    width: 100%;
    position: fixed;
    z-index: 1;
}

.transparentna{
    background-color:wheat;
    min-height: 50px;
}

.col {
    width: 48%;
    margin-bottom: 40px;
}

.col img {
    width: 100%;
    height: auto;
    transition: all 1s;
  }


header {
    min-height: 95px;
    margin-bottom: 40px;
}

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 120px;
    justify-content: center;
}

.naglaseno{
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 2px;
}

.navButton {
    text-decoration: none;
    color:black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-style: solid;
    border-width: 1px;
    margin-left: 8px;
    margin-right: 2px;
    /* border-radius: 50px; */
    /* box-shadow: 0 0 1px 1px; */
 }
 
 .navButton2 {
    text-decoration: none;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
 }


 .navButton:hover{
     background-color: rgba(0, 0, 0, 0.2);
     
 }
.col img:hover{
    transform: scale(1.1);
}

  /* Shutter Out Vertical */
  .hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    position: relative;
    background: #e1e1e11b;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color:rgb(1, 1, 1);
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }


.altmeni{
    display: none;
}


/* Tablet View ********************/

/* @media (max-width: 768px) {
      




}
 */

 /* Mobile View ********************/

@media (max-width: 650px) {

    .col {
        width: 100%;
    }

    .altmeni{
        display: block;
    }
    
    nav{
        display: none;
    }

    .mob-nav{
        display: none;
        position: absolute;
        margin-left: -90px;
        margin-top: 15px;
    }

    .altButton {
        background-color: wheat;
        display: block;
        text-decoration: none;
        color:black;
        padding: 14px 30px;
        text-align: center;        
        
     }

     html,body{
        overflow-x: hidden;
    }



}