/* Global Desktop View ********************/
* {
    box-sizing: border-box;
}
body {
    background-color: #EBEBEB;
    font-family: 'Asap', sans-serif;
    color:black;    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.pozadina2{
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    /* min-height: 90px; */
    width: 100%;
    position: fixed;
    z-index: 10;
}

.bela{
    background-color:white;
    min-height: 50px;
}

.col {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.response {
    width: 100%;
    max-width: 550px;
    height: auto;
    transition: all 1s;
    margin: 6px 6px;
    transition: all 1s;
  }


header {
    min-height: 95px;
    margin-bottom: 40px;
}

.container-footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 120px;
    justify-content: center;
}

.navButton {
    text-decoration: none;
    color:black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-style: solid;
    border-width: 1px;
    margin-left: 8px;
    margin-right: 2px;
    /* border-radius: 50px; */
    /* box-shadow: 0 0 1px 1px; */
 }
 
 .navButton2 {
    text-decoration: none;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
 }


 .navButton:hover{
     background-color: rgba(0, 0, 0, 0.2);
     
 }

.naglaseno{
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 2px;
}

.response:hover{
    transform: scale(1.03);
}

  /* Shutter Out Vertical */
  .hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e11b;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  rgb(57, 126, 211);;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color:white;
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

.col a{
    text-decoration: none;
}


.altmeni{
    display: none;
}
.slikaispod{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.kolona2{
    position: relative;
    background: url(images/Headphones_resting_02.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    transition-duration: 300ms;
}

.blur{
    position: relative;
    background: url(images/Headphones_resting_02.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    filter: blur(10px);
}

.mesto{
    width: auto;
    min-height: 650px;
    z-index: -10;
}
.mesto p{
    text-align: center;
    padding-top: 325px;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: black 0px 1px 2px;
}


.row{
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 650px;
    top: 0;
    justify-content: center;
    align-items: center;
   
}

.row p{
    color: black;
    margin: 0 auto;
    opacity: 100%;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: white 0px 1px 2px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


.belitekst p{
    opacity: 0%;
    color:rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: black 0px 1px 2px;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    transition-duration: 700ms;
}
 /* Mobile View ********************/

@media (max-width: 650px) {

    .col a {
        width: 100%;
    }

    .altmeni{
        display: block;
    }
    
    nav{
        display: none;
    }

    .mob-nav{
        display: none;
        position: absolute;
        margin-left: -90px;
        margin-top: 15px;
    }

    .mob-nav a {
        
        display: block;
        text-decoration: none;
        color:black;
        padding: 14px 30px;
        text-align: center;
        border-bottom-style: solid; 
        border-bottom-color: black;
        border-bottom-width: 1px;       
        
     }

     .altButton{
        background-color: rgba(255, 255, 255, 0);
        -webkit-transition: background-color 700ms linear;
        -moz-transition: background-color 700ms linear;
        -o-transition: background-color 700ms linear;
        -ms-transition: background-color 700ms linear;
        transition: background-color 700ms linear;
     }

     .transp{
         background-color: white;
     }

     .row p{
        margin-top: 175px;        
        font-size: 3.5rem;
        color: rgb(245, 222, 179);
        text-shadow: black 0px 1px 1px;
        border-top: 3px solid wheat;
        border-bottom: 3px solid wheat;        
    }

    .belitekst p{
        color:wheat;       
        text-shadow: black 0px 1px 1px;
        border-top: 3px solid wheat;
        border-bottom: 3px solid wheat;    
    }


    .kolona2{
        background: url(images/PR_agency_PRINT_dragons_02.jpg) no-repeat top center fixed;
        background-size: contain;
    }

    
    .blur{
        background: url(images/PR_agency_PRINT_dragons_02.jpg) no-repeat top center fixed;
        background-size: contain;
    }

    .row{  
        width: 100%;
        min-height: 300px;
    }

    .mesto{
        padding-bottom: 75px;
        min-height: 10px;
    }
    

     html,body{
        overflow-x: hidden;
    }

}