*{
    box-sizing: border-box;
}

html{
  background-color: white;
}

body{
  background-color: #EBEBEB;
  font-family: 'Asap', sans-serif;
  color:black;    
}

.header {
  position: fixed;
  /* display: none; */
  width: 100%;
  height:90px;
  background:white;
  /* margin-bottom: 40px; */
  transition: all 0.8s;
  top:-90px;
  z-index: 1;
}

.fixed2{
  top: 0;
}

/* navbar */
.container-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding-bottom: 5px;
}

.pozadina2{
  /* -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear; */
  /* min-height: 90px; */
  width: 100%;
  position: fixed;
  z-index: 10;
}

.bela{
  background-color:white;
  min-height: 50px;
}

header {
  min-height: 95px;
  margin-bottom: 40px;
}

.navButton {
  text-decoration: none;
  color:black;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: solid 1px;
  /* border-style: solid;
  border-width: 1px; */
  /* margin-left: 8px; */
  margin-right: 10px;
  /* border-radius: 50px; */
  /* box-shadow: 0 0 1px 1px; */
}

.naglaseno{
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2px;
}
.altmeni{
  display: none;
}

nav .current{
  border-bottom:tomato solid 1px;
}

.mob-nav .current{
  border-bottom: tomato solid 1px;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* kraj navbar */
.col {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    margin: 0 auto;
  }
  
  iframe {
    max-height: 427;
    width: 640px;
    margin: 20px 0;
    /* list-style: none; */
  }
  
  .response {
    padding: 5px 5px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: all 1s;
  }

  .response:hover{
      transform: scale(1.025);
  }

  .logo a{
    text-decoration: none;
    color: black;
  }

  .container-footer{
    background-color: white;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: center;
}


/* @media (max-width: 780px){
  .navButton{
    font-size: 0.85rem;
  }
  .logo{
    font-size: 0.8rem;
  }

  .naglaseno{
    font-size: 0.8rem;
  }

} */


/* Mediji manji od 680px */
  @media (max-width: 680px) {
    .col {
      flex-direction: row;
    }
  
    a {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }

    .logo{
      font-size: 1rem;
    }
  
    .naglaseno{
      font-size: 1.1rem;
    }

    .altmeni{
      display: block;
  }
  
  nav{
      display: none;
  }

  .mob-nav{
      display: none;
      position: absolute;
      margin-left: -90px;
      margin-top: 15px;
  }

  .mob-nav a {
      
      display: block;
      text-decoration: none;
      color:black;
      padding: 14px 30px;
      text-align: center;
      border-bottom-style: solid; 
      border-bottom-color: black;
      border-bottom-width: 1px;       
      
   }

   .altButton{
      background-color: rgba(255, 255, 255, 0.604);
      -webkit-transition: background-color 700ms linear;
      -moz-transition: background-color 700ms linear;
      -o-transition: background-color 700ms linear;
      -ms-transition: background-color 700ms linear;
      transition: background-color 700ms linear;
   }

   .transp{
       background-color: white;
   }

   html,body{
    overflow-x: hidden;
}

  
  }